.row {
  margin-bottom: 20px;
}

.btn {
  fill: #1c9e5d;
  border: 1px solid;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 3px 10px;
  opacity: 1;
  background-color: #1c9e5d;
  border-color: #1c9e5d;
  color: aliceblue;
}

.username {
  font-weight: bold;
  color: #1c9e5d;
  margin-top: 10px;
}
